<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Python Handler -->
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    
    <!-- Azure App Service configuration -->
    <httpPlatform processPath="%PYTHON_EXE%" 
                  arguments="-m gunicorn -k eventlet -w 1 -b 0.0.0.0:%HTTP_PLATFORM_PORT% wsgi:application"
                  stdoutLogEnabled="true" 
                  stdoutLogFile=".\python.log"
                  startupTimeLimit="60"
                  requestTimeout="00:04:00">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
      </environmentVariables>
    </httpPlatform>
    
    <!-- WebSocket support -->
    <webSocket enabled="true" />
    
    <!-- Default document -->
    <defaultDocument>
      <files>
        <clear />
        <add value="wsgi.py" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
